/* Add your CSS to this file */
:root{
    --default-font-size: 18px;
    --default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', Arial, "Noto Sans",sans-serif;
    --header-link-color: #6b7280;
    --header-hoverlink-color: #5a67d8;
    --overview-background-color: #e1e8f0;
    --labt-h2-size: 24px;
    --labt-h3-size: 21px;
    --labt-header-color: #48BB78;
    --testing-background-color: #4a5568;
    --testing-font-color: white;
    --card-border-color: #E2E8F0;
    --card-radius: 5px;
}

body {
    margin: 0;
    font-size: var(--default-font-size); /*Originally was 16px*/
    font-family: var(--default-font-family);
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/* HEADER SECTION */

header h1{ 
    font-size: var(--default-font-size);
}

header div{
    display: flex;
    justify-content: space-between;
}

header ul{
    list-style: none;
    margin: 12px 0px;
}

header li{
    display: inline;
    margin-right: 10px;
}

header li a{
    text-decoration: none;
    color: var(--header-link-color);
}

header li a:hover{
    color: var(--header-hoverlink-color);
}

/*OVERVIEW SECTION*/

.overview-hero{
    background-color: var(--overview-background-color);
    padding: 5% 0;
}

.overview-hero .container{
    display: flex;
    align-items: center;
}

.overview-hero-image {
    width: 50%;
    margin: 0 7%;
}

.overview-hero-image img{
    width: 100%;
    height: auto;
}

.overview-hero-text {
    margin-right: 7%;
}

.overview-hero-text h2{
    font-weight: normal;
}

/*LEARN ABOUT SECTION*/

.learn-about{
    margin-bottom: 3%;
}

.learn-about .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.learn-about h2{
    font-size: var(--labt-h2-size);
    color: var(--labt-header-color);
}

.learn-about h3{
    font-size: var(--labt-h3-size);
    color: var(--labt-header-color);
}

.card{
    border: 1px solid var(--card-border-color);
    box-shadow: 3px 5px 5px var(--card-border-color);
    border-radius: var(--card-radius);
    padding: 20px;
}

.card img{
    width: 100%;
    height: 50%;
    margin-top: 10px;
}

/* TESTING SECTION */

.testing{
    background-color: var(--testing-background-color);
    padding: 7% 0;
    color: var(--testing-font-color);
}

.testing .container{
    display: flex;
    align-items: center;
}

.cta{
    margin: 0 10%;
    padding: 1.5% 3%;
    width: 20%;
    border-radius: var(--card-radius);
    background-color: var(--labt-header-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta a{
    color: white;
    text-decoration: none;
}

/* RECENT STORIES SECTION */

.stories{
    padding: 5% 0;
}

.stories h2{
    color: var(--header-hoverlink-color);
}

article{
    display: flex;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

article img{
    width: 16%;
    height: 16%;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 3%;
}

.article-body h3{
    font-size: var(--default-font-size);
}

.article-body a{
    color: var(--header-hoverlink-color);
    text-decoration: none;
    font-weight: bold;
}

/* NEWSLETTER SECTION */

.newsletter{
    background-color: var(--labt-header-color);
    padding: 4% 0;
    color: var(--testing-font-color);
}

.newsletter .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter h3{
    font-size: var(--labt-h2-size);
    margin: 0;
    padding: 0;
}

.newsletter p{
    width: 50%;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

button[type=submit]{
    color: var(--testing-font-color);
    background-color: var(--header-hoverlink-color);
    text-decoration: none;
    border: none;
    padding: 3% 10%;
    border-radius: var(--card-radius);
}

input[type=email]{
    width: 115%;
    padding: 6% 10%;
    border: none;
    border-radius: var(--card-radius);
}

/* FOOTER SECTION */

footer{
    padding: .5%;
    background-color: var(--testing-background-color);
    color: var(--testing-font-color);
}